[default]

[manager-instance]
{% for item in ec2_manager_instance_result.instances %}
{{ item.public_ip }}
{% endfor %}

[worker-instance]
{% for item in ec2_worker_instance_result.instances %}
{{ item.public_ip }}
{% endfor %}
